</br></br>

<div class="main_area">
    <div class="question_area">
        <%= @question.question_text %>
    </div>
    <div class="answer_btn">
        <%# スコア確認用のため、後で削除 %>
        <%# あなたのIDは、<%= @answer.id %></br>
        <%#= @answer.enhancer_score %></br>
        <%#= @answer.transmuter_score %></br>
        <%#= @answer.emitter_score %></br>
        <%#= @answer.conjurer_score %></br>
        <%#= @answer.manipulator_score %></br>
        <%#= @answer.specialist_score %></br>
        <%# 削除するのはここまで %>
        <%= button_to 'はい', { controller: 'answers', action: 'update' }, { method: :patch } %>
        <% if @question.next.present? %>
            <%= button_to 'いいえ', edit_answer_path(@question.next), method: :get%>
        <% else %>
            <%= button_to 'いいえ', { controller: 'answers', action: 'show' }, { method: :get } %>
        <% end %>
    </div>
</div>