<!DOCTYPE html>
<html>
  <head>
    <title>PersonalityTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
=======
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
>>>>>>> 1d64b454c5f7324f3c548557f4a2a002b239e1a4
  </head>

  <body>
    <%= yield %>
  </body>
</html>
